<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Allow existing files and directories to be accessed directly
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Rewrite all other URLs to index.html
  RewriteRule ^ index.html [L]
</IfModule>
